.banner-overlay {
    position: relative
}
.banner-overlay:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: hsla(0,0%,100%,.3);

    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease
}

.banner-overlay:focus:after,.banner-overlay:hover:after {
    visibility: visible;
    opacity: 1
}


.underline-tra {
    position: relative;
}

.underline-tra::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #007bff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
}

.underline-tra:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


